.card-container {
    flex: 0 0 auto;
    margin: 20px;
    width: 250px;
    height: 350px;
    background-color: #1e2a3a;
    box-shadow: 0px 0px 48px 0px rgba(4, 6, 4, 0.08);
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    padding: 25px;
    cursor: pointer;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform 0.25s ease-out;
}
  
.card-container:hover {
    transform: scale(1.05);
}